.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-gap: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    row-gap: 50px;
    width: 648px;
  }

  @media (min-width: @desctop-width) {
    width: 960px;
  }
}

/*standart style for all fieldset blocks*/
.form__item {
  border: none;
  padding: 0 20px 25px 20px;
  margin: 0 auto;
  width: 320px;
  position: relative;

  &:nth-child(-n+4)::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin-left: calc((320px - 100vw) / 2);
    height: 1px;
    background-color: @btn-disabled-color;
  }

  @media (min-width: @tablet-width) {
    &::before {
      display: none;
    }
    width: 324px;
    padding: 10px;
    margin: 0;
  }
}

.form__title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 26px;

    &--line::before,
    &--line::after {
      content: "";
      position: absolute;
      width: 123px;
      height: 1px;
      background-color: @form-border-color;

      @media (min-width: @desctop-width) {
        width: 280px;
      }
    }

    &--line::before {
      left: 0;
      top: 50%;
    }

    &--line::after {
      right: 0;
      top: 50%;
    }
  }
}

/*forms block*/

.form-named {
  order: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;

  @media (min-width: @tablet-width) {
    order: 2;
    display: flex;
    flex-direction: column;
    padding-top: 54px;
    margin-left: auto;
    margin-right: 0;
  }
}

.form-contact {
  order: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 14px;

  @media (min-width: @tablet-width) {
    order: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  @media (min-width: @desctop-width) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 51px;
  }
}

.form-impressions {
  order: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;

  @media (min-width: @tablet-width) {
    order: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
      width: 1px;
      background-color: @form-border-color;

      @media (min-width: @desctop-width) {
        right: -150px;
      }
    }
  }
}

.form-visited {
  order: 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 44px;

    & > .form__title {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  @media (min-width: @desctop-width) {
    display: flex;
    //flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 73px;
  }
}

.form-message {
  order: 5;
  display: grid;
  grid-gap: 15px;
  grid-template-rows: min-content 1fr;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;

    display: flex;
    padding-top: 54px;
  }
}

.form-submit {
  order: 6;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;

    flex-direction: row;
    justify-content: space-between;
  }
}
