.gallery-info {
  padding: 0 10px 20px 10px;
  border-bottom: 2px solid @btn-disabled-color;

  @media (min-width: @tablet-width) {
    padding: 0 10px;
    border-bottom: none;
  }
}

.gallery-info__title {
  .default-margin-padd();
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  padding: 0 0 25px 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.gallery-info__text {
  .default-margin-padd();
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: @subtitle-text-color;

  &--br {
    display: none;

    @media (min-width: 464px) {
      display: block;
    }
  }
}
