.message-input {
  box-sizing: border-box;
  border: none;
  background-color: @input-bg;
  padding: 14px 22px 10px 22px;
  border: 4px solid transparent;

  &::placeholder {
      font-weight: bold;
      font-size: 18px;
      line-height: 26px;
      color: @standart-black;
  }

  &:hover {
      background-color: @input-hover;
  }
  &:focus {
      background-color: transparent;
      border: 4px solid @input-hover;
  }
}
