.radio-square {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: @standart-black;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;

  @media (min-width: @tablet-width) {
    &:nth-child(even) {
      justify-content: flex-start;
    }
  }

  @media (min-width: @desctop-width) {
    justify-content: center;
    flex-grow: 1;
    width: max-content;
  }
}

.radio-square__input {
  position: absolute;
  appearance: none;

  &:focus ~ .radio-square__custom-check {
    background-color: @btn-disabled-color;
  }

  &:disabled ~ .radio-square__custom-check {
    background-color: @input-click;
    opacity: 0.3;
  }

  &:checked ~ .radio-square__custom-check {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.925 1.325l-1.1-1.1c-.3-.3-.9-.3-1.2 0l-11.9 11.9-6.2-6.2c-.3-.3-.9-.3-1.2 0l-1.1 1.1c-.3.3-.3.9 0 1.2l7.8 7.8c.2.2.4.2.6.2.2 0 .4-.1.6-.2l13.5-13.5c.5-.3.5-.8.2-1.2z' fill='%23000'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.radio-square__custom-check {
  width: 51px;
  height: 51px;
  border-radius: 5px;
  margin-right: 30px;
  background-color: @input-bg;
}
