@font-face {
    font-family: ptsans;
    src: local("Font"),
    local("My Font"),
    url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
}

@brand-color: #81B3D2;
@standart-black: #000000;
@standart-white: #ffffff;
@link-current-color: #766357;
@subtitle-text-color: #333333;
@standart-grey: #eeeeee;
@brand-color-hover: #669EC0;
@brand-color-click: #5496BD;
@btn-disabled-color: #E5E5E5;
@input-bg: #f2f2f2;
@input-hover: #E5E5E5;
@input-click: #D5D5D5;

.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: @standart-white;
    font-family: 'PT Sans', sans-serif;
    color: @standart-black;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.default-margin-padd() {
    margin: 0;
    padding: 0;
}
