.footer {
  height: min-content;
  padding: 28px 0 26px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 60px;
  }
}

@media (min-width: @desctop-width) {
  .footer {
    padding: 36px 120px;
  }
}

.footer__hash {
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: @standart-black;
  cursor: pointer;
}

.footer__link {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 26px;
  color: @standart-black;
  cursor: pointer;
}
