.forms-title__text {
    .default-margin-padd();
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
}

.forms-title__sub-text {
    .default-margin-padd();
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
    color: @subtitle-text-color;
}


.standart-form-block-title-style() {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
}

/*forms fieldset block*/

/*standart style for all fieldset block*/
.form-fieldset {
    border: none;
    .default-margin-padd();
}

/*impression*/
.form-impressions__title {
    .standart-form-block-title-style();
}

.form-impressions__label {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

/*named*/
.form-named__title {
    .standart-form-block-title-style();
}

.form-named__label {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: @subtitle-text-color;
}

.form-named__input {
    padding: 14px 22px 10px 22px;
    border: none;
    background-color: @input-bg;
    border: 4px solid transparent;

    &::placeholder {
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: @standart-black;
    }

    &:hover {
        background-color: @input-hover;
    }
    &:focus {
        background-color: transparent;
        border: 4px solid #E5E5E5;
    }
}

/*contact*/
.form-contackt__title {
    .standart-form-block-title-style();
}

.form-contackt__label {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: @subtitle-text-color;
}

.form-contackt__input {
    border: none;
    background-color: @input-bg;
    padding: 14px 22px 10px 22px;
    border: 4px solid transparent;

    &::placeholder {
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: @standart-black;
    }

    &:hover {
        background-color: @input-hover;
    }
    &:focus {
        background-color: transparent;
        border: 4px solid #E5E5E5;
    }
}

/*visit*/
.form-visited__title {
    .standart-form-block-title-style();
}

.form-visited__label {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    font-weight: bold;
    color: @standart-black;
}

/*messege*/
.form-message__title {
    .standart-form-block-title-style();
}

.form-message__input {
    border: none;
    background-color: @input-bg;
    padding: 14px 22px 10px 22px;
    border: 4px solid transparent;

    &::placeholder {
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        color: @standart-black;
    }

    &:hover {
        background-color: @input-hover;
    }
    &:focus {
        background-color: transparent;
        border: 4px solid #E5E5E5;
    }
}

/*sibmit*/
.form-submit {
    background-color: @brand-color;
    border: none;
    padding: 18px 60px 13px 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: @standart-white;

    &:hover,
    &:focus {
        background-color: @brand-color-hover;

    }

    &:active {
        background-color: @brand-color-click;
        color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
        background-color: @btn-disabled-color;
    }
}

.form-necessarily {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: @subtitle-text-color;
}

