.forms-title {
  padding: 36px 20px 20px 20px;
  border-bottom: 2px solid @btn-disabled-color;
}

.forms-title__text {
  .default-margin-padd();
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  line-height: 26px;
  margin-bottom: 20px
}

.forms-title__sub-text {
  .default-margin-padd();
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: @subtitle-text-color;
}
