.gallery {
  display: grid;
  grid-template-rows: min-content min-content;
  grid-gap: 22px;


  @media (min-width: @tablet-width) {
    justify-items: center;
    grid-gap: 59px;
  }

  @media (min-width: @desctop-width) {
   grid-gap: 67px;
  }
}
