.video-player__description {
  margin: 0 auto;
  padding: 0 26px 33px 26px;

  @media (min-width: @tablet-width) {
    padding: 0 0 67px 0;
    width: 445px;
  }
}

.video-player {
  padding: 0 0 49px 0;

  @media (min-width: @tablet-width) {
    padding: 0 60px 40px 60px;
  }

  @media (min-width: @desctop-width) {
    padding: 0 200px 85px 200px;
  }
}

.video-player__title {
  .default-margin-padd();
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 26px;
  }
}

.video-player__subtitle {
  .default-margin-padd();
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: @subtitle-text-color;
}

.video-player__video-block {
  margin: 0;
  display: flex;
}

@media (min-width: @tablet-width) {
  .video-player__video {
    height: 500px;
  }
}
