.video-player {


    &__description {

    }

    &__title {
        .default-margin-padd();
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        line-height: 26px;
    }

    &__subtitle {
        .default-margin-padd();
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 24px;
        color: @subtitle-text-color;
    }

    &__video-block {

    }

    &__video {

    }
}

